.slider {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;

  margin: 0 auto;
}

.slider__values {
  position: absolute;
  display: flex;
}

.slider__input-value {
  box-sizing: border-box;
  max-width: 100px;
  padding: 5px;
  font-size: 20px;
  border: 2px solid darkslateblue;
  border-radius: 4px;
  outline: none;
  font-family: inherit;
}

.slider__line {
  position: relative;

  flex-basis: 300px;
  width: 20px;
  height: 20px;
  display: flex;

  border: 2px solid darkmagenta;
  border-radius: 4px;
}

.slider__thumb {
  user-select: none;
  position: absolute;
  z-index: 1;
  cursor: pointer;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  
  background-color: darkslateblue;
}

.slider__range-line {
  position: relative;
  width: 3px;
  height: 3px;
  border: 2px solid darkseagreen;
}

.slider__value {
  user-select: text;
  position: absolute;
  box-sizing: border-box;

  text-align: center;
  color: darkseagreen;
  font-size: 20px;
  line-height: 25px;

  border-radius: 4px;
  min-width: 25px;
  height: 25px;
  background-color: darkslateblue;
  
  &::before, &::after {
    position: absolute;
    z-index: -1;
    content: ''; 
  }
}

.slider {
  &--horizontal {
    padding-top: 37px;
    flex-direction: row;
    .slider__line {
      margin-top: 40px;
      flex-direction: row;
    }
    .slider__value {  
      // hor
      top: -15px;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);
      &::before, &::after {
        //hor
        bottom: 5px;
        border-top: 10px solid darkslateblue;
      }
      &::before {
        // hor
        left: 50%;
        transform: translateY(100%) translateX(-100%);
        border-left: 10px solid transparent; 
      }
      &::after {
        // hor
        right: 50%;
        transform: translateY(100%) translateX(100%);
        border-right: 10px solid transparent;
      }
    }

    .slider__range-line {
      //hor
      top: 50%;
      transform: translateY(-50%);
    }
    .slider__values {
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
      justify-content: space-around;
    }
  }

  &--vertical {
    flex-direction: column;
    padding-right: 100px;
    .slider__line {
      flex-direction: column;
      margin-right: 40px;
    }
    .slider__value {
      // ver
      right: -15px;
      bottom: 50%;
      transform: translateY(50%) translateX(100%);
      &::before, &::after {
        //ver
        left: 4px;
        border-right: 10px solid darkslateblue;
      }
      &::before {
        // ver
        top: 50%;
        border-top: 10px solid transparent;
        transform: translateY(-100%) translateX(-100%);
      }
      &::after {
        // ver
        bottom: 50%;
        border-bottom: 10px solid transparent;
        transform: translateY(100%) translateX(-100%);
      }
    }
    .slider__range-line {      
      left: 50%;
      transform: translateX(-50%);
    }
    .slider__values {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: max-content;
      justify-content: space-around;
      flex-direction: column;
    }
    .slider__input-value--from {
      margin-bottom: 10px;
    }
  }
}