.slider {
  box-sizing: border-box;
  display: flex;
  position: relative;

  &__values {
    position: absolute;
    display: flex;
  }

  &__input-value {
    box-sizing: border-box;
    max-width: 100px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid darkslateblue;
    border-radius: 4px;
    outline: none;
    font-family: inherit;
  }

  &__line {
    position: relative;
  
    flex-basis: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    border: 2px solid darkmagenta;
    border-radius: 4px;
  }
  
  &__thumb {
    position: absolute;
    z-index: 1;
    cursor: pointer;
  
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    background-color: darkslateblue;
  }

  &__range-line {
    position: relative;
    z-index: -1;
    width: 3px;
    height: 3px;
    border: 2px solid darkseagreen;
  }

  &__value { 
    position: absolute;
    box-sizing: border-box;
  
    text-align: center;
    color: darkseagreen;
    font-size: 20px;
    line-height: 25px;
  
    border-radius: 4px;
    min-width: 25px;
    height: 25px;
    background-color: darkslateblue;
    
    &::before, &::after {
      position: absolute;
      z-index: -1;
      content: ''; 
    }
  }

  &_horizontal {
    width: 100%;
    padding-top: 37px;
    flex-direction: row;
  }

  &_horizontal &__line {
    margin-top: 40px;
    flex-direction: row;
  }

  &_horizontal &__value {
    top: -15px;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);

    &::before, &::after {
      bottom: 5px;
      border-top: 10px solid darkslateblue;
    }

    &::before {
      left: 50%;
      transform: translateY(100%) translateX(-100%);
      border-left: 10px solid transparent; 
    }

    &::after {
      right: 50%;
      transform: translateY(100%) translateX(100%);
      border-right: 10px solid transparent;
    }
  }

  &_horizontal &__range-line {
    top: 50%;
    transform: translateY(-50%);
  }

  &_horizontal &__values {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    justify-content: space-around;
  }

  &_vertical {
    height: 100%;
    flex-direction: column;
    padding-right: 100px;
  }

  &_vertical &__line {
    flex-direction: column;
    margin-right: 40px;
  }

  &_vertical &__value {
    right: -15px;
    bottom: 50%;
    transform: translateY(50%) translateX(100%);

    &::before, &::after {
      left: 4px;
      border-right: 10px solid darkslateblue;
    }
    
    &::before {
      top: 50%;
      border-top: 10px solid transparent;
      transform: translateY(-100%) translateX(-100%);
    }

    &::after {
      bottom: 50%;
      border-bottom: 10px solid transparent;
      transform: translateY(100%) translateX(-100%);
    }
  }

  &_vertical &__range-line {      
    left: 50%;
    transform: translateX(-50%);
  }

  &_vertical &__values {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: max-content;
    justify-content: space-around;
    flex-direction: column;
  }

  &_vertical &__input-value_from {
    margin-bottom: 10px;
  }

}
