<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap")
  body
    .wrapper.wrapper--1st
    .wrapper.wrapper--2nd
    .wrapper.wrapper--3rd